/* List styles */
/* Give lists and their items top and bottom 
   margins of equivalent to the line height */
ol, ul, li {
    margin: 1.5rem 0;    
}

ol {
    counter-reset: list;
    /* margin-top: 20px;    */
}

li {
    color: #626262;
}

ol > li {
    list-style: none;
    position: relative;
}

/* Set up custom list item counters */
ol > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

/* ul.line-high li {
    line-height: 35px;
    margin-bottom: 3px;
}

@media only screen and (max-width: 768px) {    
    .line-high li {
        line-height: 30px!important;
    }   
} */