/* List styles */
ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
    position: relative;
}
ol > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

ol.listLine li, ul li {
    color: #626262;
}

ul.line-high li {
    line-height: 35px;
    margin-bottom: 3px;
}

@media only screen and (max-width: 768px) {    
    .line-high li {
        line-height: 30px!important;
    }   
}

.listLine{
    margin-top: 20px;
    
}