@import "layout_styles.css";
@import "text_styles.css";
@import "image_styles.css";
@import "table_styles.css";
@import "list_styles.css";

/* General styles */
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #F8F8F8;    
}

* {
    box-sizing: border-box;
}

.buttonClass{   /* Should this be moved into a button component instead? */
    width: 100%;
    text-align: center;
}

/* Animation */
/* This should perhaps be moved to a component? */
.spinnerAnim {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}