/* This rule needs explanation */
**{
    font-weight: 400; 
}

/* Responsive font sizing */
@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

/* It looks like all these rules are targeting
headings in different parts of the site. 
Can it be done without relying on classes? 
e.g: p + h1 {} to target a heading coming immediately after a paragraph
     ul + h1 {} to target a heading coming immediately after a list
     h1 > h2 {} to target a level 2 heading sibling of a h1
*/

h1{
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 24px!important;
}

.parafont{
    font-size: 38px;
    line-height: 45px;
}

h1.about-para {
    line-height: 57px;
}

.benefit{
    font-size: 46px;
    line-height: 55px
}

h1.parafont.aline{
    margin-top: 30px;
}

.parabold{
    font-weight: 500;
}

.hdesign{
    font-style: italic;
    font-size: 30px;
    line-height: 38px;
}

.titledesign{
    font-size: 30px;
    font-style: italic;
    margin-top: 45px!important;
    line-height: 38px; 
 }

h2 {
    font-size: 30px;
    font-style: italic;
    margin-top: 45px!important;
    line-height: 38px;
}

/* similar to above, these rules appear to target
paragraph in different parts of the site. can the 
same be achieved using more semantic selectors? 
e.g: h1 + p {} to select the paragraph immediately after a heading
     ul + p {} to select the paragraph immediately after a list
     table p:first-of-type {} to select a paragraph inside a table 
*/
p.upspace{
    padding: 50px 0px;
}

p.desaLine{
    margin: 35px auto;
}

p{
    font-size: 20px;
    line-height: 35px;
    color: #626262;
    
}

.feeDesign p{ /* Could selecting it as table p work? */
    text-align: left;
    margin: auto;
    width: 415px;
}


/* When changing the default styling, it is 
helpful to indicate the reason preferably with
clear reference to some design requirement
*/

b {
    color: #626262;
}

strong {    /* Do we require more than the default? */
    font-weight: 500;
}

/* If changing the default styling is required, it is usually
good to also provide for the different link states */
a {   
    color: #626262;    
}



/* An explanation of these rules would be helpful 
What parts of the page are being targetted, and could
this be achieved without using classes? */
.fixHeight{
    min-height: 245px;
    padding: 0 5px;
} 

.certificateLine{
    font-size: 38px;
    line-height: 45px;
}


/* Similar to above, consider using more semantic selectors
for added clarity if possible */

@media (min-width: 414px)  and (max-width: 767px){
    .paraheight{
        height: auto;
    }    
}

@media only screen and (max-width: 768px) {    
    p{
        font-size: 18px;
        line-height: 30px;
       
    }

    .fixHeight p {
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        
    }
    .feeDesign p{
        width:100%;
    }    
}

/* Are all these media queries necessary? What is we defined
just three thresholds for mobile (i.e 768px), tablet (i.e 1080px) 
and desktop (above 1080px) for example?
*/ 

@media screen and (max-width: 1023px) and (min-width: 768px){
    h1{
        line-height: 55px;
    }
    .container.align-vert span {
        font-size: 16px;
        letter-spacing: normal;
    }
    .copyright{
        font-size: 10px;
    }    
}

@media only screen and (width:1024px){    
    .container.align-vert span {
        font-size: 16px;
        letter-spacing: normal;
    }
    .copyright{
        font-size: 11px; 
    }
    
}

@media only screen and (max-width: 767px){
    .fixHeight{
        min-height: auto;
    }
    h1{
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 10px!important;
    }
    .parafont{
        font-size: 26px;
        line-height: 28px;
    }
    h2{
        font-size: 24px!important;
        line-height: 28px!important;
        margin-top: 35px;
    }
    p.upspace {
        padding: 35px 10px;
    }
    h4 {
        font-size: 20px;
        line-height: 28px;
        
    }
    h1.benefit {
        font-size: 32px;
        line-height: 38px;
    }
    h1.about-para br {
        display: none;
    }
    h1.about-para1 br {
        display: none;
    }
    h1.about-para {
        line-height: 42px!important;
    }
}