**{
    font-weight: 400; 
}

/* Responsive font sizing */
@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

.parafont{
    font-size: 38px;
    line-height: 45px;
}


p.upspace{
    padding: 50px 0px;
}

h1{
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 24px!important;
}

b {
    color: #626262;
}


h1.about-para {
    line-height: 57px;
}

.fixHeight{
    min-height: 245px;
    padding: 0 5px;
}

.benefit{
    font-size: 46px;
    line-height: 55px
}
a {
    color: #626262;
    
}


p.desaLine{
    margin: 35px auto;
}

p{
    font-size: 20px;
    line-height: 35px;
    color: #626262;
    
}

.certificateLine{
    font-size: 38px;
    line-height: 45px;
}
.feeDesign p{
    text-align: left;
    margin: auto;
    width: 415px;
}
 h1.parafont.aline{
    margin-top: 30px;
}

.parabold{
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-style: italic;
    margin-top: 45px!important;
    line-height: 38px;
}

strong {    /* Do we require more than the default? */
    font-weight: 500;
}

.titledesign{
    font-size: 30px;
    font-style: italic;
    margin-top: 45px!important;
    line-height: 38px; 
 }

@media (min-width: 414px)  and (max-width: 767px){
    .paraheight{
        height: auto;
    }    
}

@media only screen and (max-width: 768px) {    
    p{
        font-size: 18px;
        line-height: 30px;
       
    }

    .fixHeight p {
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        
    }
    .feeDesign p{
        width:100%;
    }    
    .line-high li {
        line-height: 30px!important;
    }
   
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    h1{
        line-height: 55px;
    }
    .container.align-vert span {
        font-size: 16px;
        letter-spacing: normal;
    }
    .copyright{
        font-size: 10px;
    }    
}

@media only screen and (width:1024px){    
    .container.align-vert span {
        font-size: 16px;
        letter-spacing: normal;
    }
    .copyright{
        font-size: 11px; 
    }
    
}

@media only screen and (max-width: 767px){
    .fixHeight{
        min-height: auto;
    }
    h1{
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 10px!important;
    }
    .parafont{
        font-size: 26px;
        line-height: 28px;
    }
    h2{
        font-size: 24px!important;
        line-height: 28px!important;
        margin-top: 35px;
    }
    p.upspace {
        padding: 35px 10px;
    }
    h4 {
        font-size: 20px;
        line-height: 28px;
        
    }
    h1.benefit {
        font-size: 32px;
        line-height: 38px;
    }
    h1.about-para br {
        display: none;
    }
    h1.about-para1 br {
        display: none;
    }
    h1.about-para {
        line-height: 42px!important;
    }
}