body {
    background-color: #F8F8F8;    
}

.wrapper {
    margin: 0 100px;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-between;    
}

.col-1{
    width: calc(100% /12 - 16px);
}

.col-12 {
    width: 100%;
}

.col-2 {
    width: calc(100% * 2 / 12 - 16px);
}

.col-3 {
    width: calc(100% * 3 / 12 - 16px);
}

.col-4 {
    width: calc(100% * 4 / 12 - 16px);
}

.col-5 {
    width: calc(100% * 5 / 12 - 16px);
}

.col-6 {
    width: calc(100% * 6 / 12 - 16px);
}

.col-7 {
    width: calc(100% * 7 / 12 - 16px);
}

.col-8 {
    width: calc(100% * 8 / 12 - 16px);
}

.col-9 {
    width: calc(100% * 9 / 12 - 16px);
}

.col-10 {
    width: calc(100% * 10 / 12 - 16px);
}

.col-11 {
    width: calc(100% * 11 / 12 - 16px);
}

.col {
    background-color: lightslategray;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;    
}

.navContainer {
    height: 120px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.navWrapper {
    max-width: 1280px;
    margin: auto;
    height: 100%;
}

.navImg {
    height: 100%;
    top: 50%;
    margin-top: -25%;
}

.centre {
    margin: 0 auto;
    
}

.align-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hamburgBtn {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.link {
    color: #626262;
    font-size: 20px;
    font-weight: 500;    
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0);
    height: max-content;
    position: relative;
    top: calc(100% - 50px);
}

.linkActive {
    color: #3A722E;
    border-bottom: 1px solid #3A722E;
}

.link:hover {
    color: #3A722E;
    border-bottom: 1px solid #3A722E;
}

footer {
    background-color: #2F5926;
    height: 200px;
}

.align-vert {    
    display: flex;
    justify-content: space-around;    
    padding:50px 0;    
}

.copyright {
    color: white;
    font-size: .8em;
    text-align: center;
    margin: 0;
    padding-bottom: 2em;
}

@media only screen and (max-width: 1280px) {
    .link {
        display: none;
    }
    .navWrapper {
        padding: 0 30px;
    }
    .hamburgBtn {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .navContainer {
        height: 75px;
    }
    .navImg {
        top: 63%;
    }
    .col-2 {
        width: 100%;
    }
}