/* Set up responsive font sizing 
WORK IN PROGRESS */
html {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

body {
    background-color: #F8F8F8;    
}

.pagewrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
**{
    font-weight: 400;
}

.wrapper {
    margin: 0 100px;   
    flex: 1;
    line-height: 1.8;    

    
}

.row {
    display: flex;
    justify-content: space-between; 
    padding: 50px 0;   
}

.parafont{
    font-size: 38px;
    line-height: 45px;
}

caption {
    font-size: 23px;
    text-align: left;
    line-height: 32px;
    color: #3A722E;
    font-weight: 500;
    margin-bottom: 50px;
}
p.upspace{
    padding: 50px 0px;
}





.col-1{
    width: calc(100% /12 - 16px);
}

.col-12 {
    width: 100%;
}

.col-2 {
    width: calc(100% * 2 / 12 - 16px);
}

.col-3 {
    width: calc(100% * 3 / 12 - 16px);
}

.col-4 {
    width: calc(100% * 4 / 12 - 16px);
}

.col-5 {
    width: calc(100% * 5 / 12 - 16px);
}

.col-6 {
    width: calc(100% * 6 / 12 - 16px);
}

.col-7 {
    width: calc(100% * 7 / 12 - 16px);
}

.col-8 {
    width: calc(100% * 8 / 12 - 16px);
    
}

@media (min-width: 360px)  and (max-width: 767px){
    .col-8 {
        width: 100%;
        
    }

}

@media (min-width: 414px)  and (max-width: 767px){
    .paraheight{
        height: auto;
    }

    
}




.col-9 {
    width: calc(100% * 9 / 12 - 16px);
}

.col-10 {
    width: calc(100% * 10 / 12 - 16px);
}

.col-11 {
    width: calc(100% * 11 / 12 - 16px);
}

.col {
    background-color: lightslategray;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 769px){
    .wrapper {
        flex:1;
        margin: 0;
        padding: 0 5em;
    }
    .col-s{
        width: 100%;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;    
}

.centre {
    margin: 0 auto;
    
}

.align-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    /* display:flex; */
    background-color: #2F5926;
    height: max-content;      
}

footer img{
    margin-bottom: 0.8rem!important;
    width: 13px;
}

.container.align-vert span{
    font-size: 13px;
    letter-spacing: .3px;
}
figure img {
    margin: 35px 0px;
}


.align-vert {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    padding:13px 145px;
}

.copyright {
    color: white;
    font-size: 8px;
    text-align: center;
    margin: 0;
    padding-bottom: 7px;
    line-height: 9px;
    letter-spacing: .3px;
    margin-left: 37px;
}
.homeContainer{
    width: 33.33%;
 }
 .homeContainer:first-child{
     margin-left: 0px;
 }

 .homeContainer:last-child{
    margin-right: 0px;
}

.hero-img {
    min-height: 350px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 24px!important;
}

.fixHeight{
    min-height: 245px;
    padding: 0 5px;
}
.benefit{
    font-size: 46px;
    line-height: 55px
}
a {
    color: #626262;
    
}

table.feeDesign td{
    border-bottom: 0px;
    border-right: 0px;
}
p.desaLine{
    margin: 35px auto;
}

@media only screen and (max-width: 767px){
    .fixHeight{
        min-height: auto;
    }
    h1{
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 10px!important;
    }
    .parafont{
        font-size: 26px;
        line-height: 28px;
    }
    h2{
        font-size: 24px!important;
        line-height: 28px!important;
        margin-top: 35px;
    }
    .homeContainer{
        width: 100%;
        
        
    }
    section .homeContainer{
        padding: 25px;

    }
    .container.align-vert span {
        margin-left: 12px;
        font-size: 14px;
    }
    figure {
        padding: 0px!important;
    }
    caption {
        font-size: 20px;
        line-height: 28px;
        padding: 10px;
    }
    p.upspace {
        padding: 35px 10px;
    }
    h4 {
        font-size: 20px;
        line-height: 28px;
        
    }
    h1.benefit {
        font-size: 32px;
        line-height: 38px;
    }
    .container.align-vert{
        padding: 18px 0px;
    }
    .copyright{
        font-size: 10px;
        margin-left: 0px;
    }
    footer .align-vert img{
        min-width: 18px;
        max-width: 18px;
        margin-right: 0px;
    }
    h1.about-para br {
        display: none;
    }
    h1.about-para1 br {
        display: none;
    }
    h1.about-para {
        line-height: 42px!important;
    }
    .align-vert {
        display: block;
    }
    span.separator__Wrapper-fDLMHg.iCHIvn {
        display: none;
    }
    img.no-pic {
        display: none;
    }
}

p{
    font-size: 20px;
    line-height: 35px;
    color: #626262;
    
}

figure{
    text-align: center;
}
.listLine{
    margin-top: 20px;
    
}
.certificateLine{
    font-size: 38px;
    line-height: 45px;
}
.feeDesign p{
    text-align: left;
    margin: auto;
    width: 415px;
}
 h1.parafont.aline{
    margin-top: 30px;
}
.feeDesign tr:nth-child(odd){
    background-color: #E8E8E8;
}
.feeDesign tr:nth-child(even){
    background-color: #ffffff;
}
.captionName{
    font-size: 20px;
    text-align: left;
    line-height: 32px;
    color: #3A722E;
    font-weight: 500;
    margin-bottom: 25px;
}

.parabold{
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-style: italic;
    margin-top: 45px!important;
    line-height: 38px;
}
.buttonClass{
    width: 100%;
    text-align: center;
}

strong {
    font-weight: 500;
}



@media only screen and (max-width: 1280px) {
    .align-vert {
        max-width: max-content;
        padding-bottom:25px;
    }
}

@media only screen and (max-width: 768px) {
    .hero-img {
        min-height: 200px;
    }
    p{
        font-size: 18px;
        line-height: 30px;
       
    }

    .fixHeight p {
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        
    }
    .feeDesign p{
        width:100%;
    }
    .mobileNavBg img {
        width: 60%!important;
        height: 60%!important;
    }
    .searchDiv .gatsby-image-wrapper {
        width: 22px!important;
    }
    figure img{
        width: 100%;
    }
    
   
}

@media only screen and (max-width: 675px) {
    .align-vert {
        justify-content: flex-start;
        padding-top:25px;
    }
    .wrapper {
        margin: 0 20px;
        padding:10px 0;
    }
}

@media only screen and (max-width: 400px) {
    .hero-img {
        min-height: 115px;
    }

}


.tdesign{
    box-shadow: 3px 3px 3px #bfbababa;
    margin-bottom: 58px;
    
}
.tdesig td, .tdesig th {
    border: 1px solid #C1C1C1;
    padding: 10px;
    padding-left: 18px!important;
    font-size: 20px;
}

.tdesign tr:nth-child(even){background-color: #F4F4F4; color:#000000 ;}

.tdesign tr:hover {background-color: #dddddd;}
.tdesign th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    background-color: #E8E8E8;
    color: #000000;
  }

  th:first-child, td:first-child {
    padding-left: 18px;
    border-right: 1px solid #C1C1C1;
}

.hdesign{
    font-style: italic;
    font-size: 30px;
    line-height: 38px;
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .homeContainer {
        width: 100%;
        float: left;
        padding: 20px!important;
    }
    .homeContainer img{
        width: 12%;
        float: left;
    }
    .fixHeight {
        min-height: auto;
        width: 80%;
        float: left;
    }
    .fixHeight p{
        text-align: left;
        padding: 2px 0px 0px 20px;
    }
    .buttonClass {
        width: 84%;
        float: right;
        text-align: left;
    }
    .align-vert{
        padding: 18px 65px;
        padding-bottom: 5px;
        width: 100%;
    max-width: 100%;
    display: -webkit-inline-box;
    }
    
    h1{
        line-height: 55px;
    }
    footer .align-vert img{
        margin-right: 10px;
        min-width: 24px;
        max-width: 24px;
    }
    .container.align-vert span {
        font-size: 16px;
        letter-spacing: normal;
    }
    .copyright{
        font-size: 10px;
    }
    
}

@media only screen and (width:1024px){
    .homeContainer {
        width: 100%;
        padding: 25px!important;
    }
    .fixHeight {
        min-height: auto;
    }
    .buttonClass {
        text-align: left;
        padding-left: 85px;
    }
    .align-vert{
        padding: 22px 85px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 100%;
    display: -webkit-inline-box;
    }
    footer .align-vert img{
        margin-right: 10px;
    }
    .container.align-vert span {
        font-size: 16px;
        letter-spacing: normal;
    }
    .copyright{
        font-size: 11px; 
    }
    
}

.titledesign{
   font-size: 30px;
   font-style: italic;
   margin-top: 45px!important;
   line-height: 38px; 
}

.tdesign th{
    color: #626262;
}

.tdesign td{
    color: #626262;
}

b {
    color: #626262;
}
ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
    position: relative;
}
ol > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

h1.about-para {
    line-height: 57px;
}
ol.listLine li, ul li {
    color: #626262;
}

/* Animation */
.spinnerAnim {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 320px){
    table.tdesign th, table.tdesign td {
        padding-right: 1px;
        padding-left: 8px;
    }
}