/* Set up responsive font sizing 
WORK IN PROGRESS */
html {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

body {
    background-color: #F8F8F8;    
}

.pagewrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
**{
    font-weight: 400;
}

.wrapper {
    margin: 0 100px;   
    flex: 1;
    line-height: 1.8;    

    
}

.row {
    display: flex;
    justify-content: space-between; 
    padding: 50px 0;   
}

.parafont{
    font-size: 38px;
    line-height: 45px;
}

caption {
    font-size: 23px;
    text-align: left;
    line-height: 32px;
    color: #3A722E;
    font-weight: 500;
    margin-bottom: 25px;
}





.col-1{
    width: calc(100% /12 - 16px);
}

.col-12 {
    width: 100%;
}

.col-2 {
    width: calc(100% * 2 / 12 - 16px);
}

.col-3 {
    width: calc(100% * 3 / 12 - 16px);
}

.col-4 {
    width: calc(100% * 4 / 12 - 16px);
}

.col-5 {
    width: calc(100% * 5 / 12 - 16px);
}

.col-6 {
    width: calc(100% * 6 / 12 - 16px);
}

.col-7 {
    width: calc(100% * 7 / 12 - 16px);
}

.col-8 {
    width: calc(100% * 8 / 12 - 16px);
    
}

@media (min-width: 360px)  and (max-width: 767px){
    .col-8 {
        width: 100%;
        
    }

}

@media (min-width: 414px)  and (max-width: 767px){
    .paraheight{
        height: auto;
    }

    
}




.col-9 {
    width: calc(100% * 9 / 12 - 16px);
}

.col-10 {
    width: calc(100% * 10 / 12 - 16px);
}

.col-11 {
    width: calc(100% * 11 / 12 - 16px);
}

.col {
    background-color: lightslategray;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 769px){
    .wrapper {
        flex:1;
        margin: 0;
        padding: 0 5em;
    }
    .col-s{
        width: 100%;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;    
}

.centre {
    margin: 0 auto;
    
}

.align-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    /* display:flex; */
    background-color: #2F5926;
    height: max-content;      
}

footer img{
    margin-bottom: 1.6rem!important;
    width: 50px;
    margin-right: 12px;
    
}


.align-vert {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    padding:30px 0;
}

.copyright {
    color: white;
    font-size: .8em;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

.hero-img {
    min-height: 350px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0;
}
h1{
    font-size: 48px;
    line-height: 57px;
}

.fixHeight{
    min-height: 245px;
}

@media only screen and (max-width: 767px){
    .fixHeight{
        min-height: auto;
    }
    h1{
        font-size: 32px;
        line-height: 38px;
    }
    .parafont{
        font-size: 26px;
        line-height: 38px;
    }
    h2{
        font-size: 24px;
        line-height: 28px;
        margin-top: 35px;
    }
}

p{
    font-size: 20px;
    line-height: 35px;
    color: #070706;
    text-align: justify;
}

figure{
    text-align: center;
}
.listLine{
    margin-top: 50px;
    margin-bottom: 50px;
}
.certificateLine{
    font-size: 38px;
    line-height: 45px;
}
.feeDesign p{
    text-align: center;
    margin-bottom: 5px;
}
.aline{
    margin-top: 55px;
}
.feeDesign tr:nth-child(odd){
    background-color: #E8E8E8;
}
.feeDesign tr:nth-child(even){
    background-color: #ffffff;
}
.captionName{
    font-size: 23px;
    text-align: left;
    line-height: 32px;
    color: #3A722E;
    font-weight: 500;
    margin-bottom: 25px;
}

.parabold{
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-style: italic;
    margin-top: 45px;
    line-height: 38px;
}



@media only screen and (max-width: 1280px) {
    .align-vert {
        max-width: max-content;
        padding-bottom:25px;
    }
}

@media only screen and (max-width: 769px) {
    .hero-img {
        min-height: 200px;
    }
}

@media only screen and (max-width: 675px) {
    .align-vert {
        justify-content: flex-start;
        padding-top:25px;
    }
    .wrapper {
        margin: 0 20px;
        padding:10px 0;
    }
}

@media only screen and (max-width: 400px) {
    .hero-img {
        min-height: 115px;
    }

}


.tdesign{
    box-shadow: 3px 3px 3px #bfbababa;
    margin-bottom: 58px;
    
}
.tdesig td, .tdesig th {
    border: 2px solid #dddddd;
    padding: 10px;
    padding-left: 18px!important;
    font-size: 20px;
}

.tdesign tr:nth-child(even){background-color: #F8F8F8; color:#000000 ;}

.tdesign tr:hover {background-color: #dddddd;}
.tdesign th {
    padding-top: 12px;
    padding-bottom: 12px;
    
    background-color: #E8E8E8;
    color: #000000;
  }

  th:first-child, td:first-child {
    padding-left: 18px;
}

.hdesign{
    font-style: italic;
    font-size: 30px;
    line-height: 38px;
}

