.bookmarkLink {
    color: #626262;
    margin: 0 12% 0 12%;
    padding: 3px 0;
    font-size: 18px;
    font-weight: 400;    
    font-family: inherit;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0);
    z-index: 2;
}

.bookmarkActive {
    color: #3A722E;
}

.growingSubMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hamburgBtn {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.link {
    color: #626262;
    font-size: 20px;
    font-weight: 500;    
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0);
    height: max-content;
    position: relative;
    top: calc(100% - 50px);
}

.linkActive {
    color: #3A722E;
    border-bottom: 1px solid #3A722E;
}

.link:hover {
    color: #3A722E;
    border-bottom: 1px solid #3A722E;
}

.navContainer {
    height: 120px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 0 5px lightslategray;
}

.subNavContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 63px;
    background-color: white;
    box-shadow: 0 3px 4px lightslategray;
    position: fixed;
    top: 120px;
    left: 0;
}

.sublink {
    margin: 0 20px;
    cursor: pointer;
}

.navMobile {
    width: 350px !important;
    max-width: 100%;
    position: fixed;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.navHidden {
    display: none !important;
}

.closeNavBtn {
    height: 55px;
    width: 55px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 25px;
    top: 20px;
}

.mobileNavBg {
    display: none;
    width: 350px;
    height: 100vh;
    background: #F8F8F8;
    position: absolute;
    z-index: 1;
}

.mobileNavOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.4;
    z-index: 0;
}

.mobileCollapse {
    color: #626262;
    font-size: 20px;
    font-weight: 500;    
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    width: 76%;
    margin: 0 12% 0 12%;
    padding: 13px 0;
    text-align: left;
    border-bottom: 1px solid #626262;
}

.subMenuCollapse { 
    padding-bottom: 15px !important;
}

.mobileCollapseActive {
    color: #3A722E;
    border-bottom: 1px solid transparent;
}

.navWrapper {
    max-width: 1280px;
    margin: auto;
    height: 100%;
}

.navImg {
    height: 100%;
    top: 50%;
    margin-top: -25%;
}

@media only screen and (max-width: 1279px) {
    .subNavContainer {
        display: none;
    }
    .showSubNav {
        display: contents;
    }
    .link {
        z-index: 2;
        width: 76%;
        margin: 0 12% 0 12%;
        padding: 10px 0;
        text-align: left;
        border-bottom: 1px solid #626262;
    }
    .link:first-of-type {
        margin-top: 60px;
    }
    .link:last-of-type:not(.mobileCollapse) {
        border-bottom: none;
    }
    .link:hover, .mobileCollapse:hover, .sublink:hover {
        color: #3A722E;
    }
    .linkActive {
        color: #3A722E;
    }
    .sublink {
        z-index: 2;
        font-size: 18px;
        color: #626262;
        font-weight: 500;    
        font-family: inherit;
        text-decoration: none;
        text-align: left;
        width: 100%;
        background-color: #eeeeee;
        border: none;
        padding: 2px 12% 2px 12%;
        margin: 0;
    }
    .sublink:hover {
        border: none;
    }
    .navWrapper {
        padding: 0 30px;
    }
    .mobileNavBg, .mobileNavOverlay, .mobileCollapse {
        display: block;
    }
    .collapseActive {
        border: none;
    }
    .hamburgBtn {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .navContainer {
        height: 75px;
    }
    .navImg {
        top: 63%;
    }
    .col-2 {
        width: 100%;
    }
}