.growingSubMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hamburgBtn {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bookmarkLink {
    color: #626262;
    margin: 0 12%;
    padding: 3px 0;
    font-size: 18px;
    font-weight: 400;    
    font-family: inherit;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0);
    z-index: 2;
}

.bookmarkLink:hover {
    font-weight: 500;
}

.bookmarkActive {
    color: #3A722E;
}

.link, .extraNavLink {
    color: #626262;
    font-size: 18px;
    font-weight: 500;    
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0);
    height: max-content;
    position: relative;
    top: calc(100% - 46px);
}

.linkActive, .link:hover {
    color: #3A722E;
    border-bottom: 1px solid #3A722E;
}

.navContainer {
    height: 120px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.subNavContainer {
    width: 100%;
    z-index: 2;
}

.extraNavOptionContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 63px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
    position: fixed;
    top: 120px;
    left: 0;
}

.extraNavOptionContainer {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161), inset 0px 3px 6px -5px rgba(0, 0, 0, 0.161);
}

.sublink, .extraNavOptions {
    margin: 0 20px;
    cursor: pointer;
}

.dropdownSubMenu, .desktopDropdown, .desktopSubDropdown { 
    width: 250px;
    position: absolute;
    display: flex;
    padding: 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.161);
    flex-direction: column;
    background-color: white;
    z-index: 1;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
}

.desktopSubDropdown {
    position: fixed;
    margin-left: 192px;
    margin-top: -45px;
}

.extraNavLink:hover .dropdownSubMenu {
    visibility: visible;
    width: 255px;
    padding: 15px 2px;
    max-height: 500px;
}

.link:hover .desktopDropdown {
    visibility: visible;
    width: 220px;
    padding: 15px 2px;
    max-height: 500px;
}

.bookmarkLink:hover .desktopSubDropdown {
    visibility: visible;
    width: 255px;
    padding: 15px 2px;
    max-height: 500px;
}

.navMobile {
    width: 350px !important;
    max-width: 100%;
    position: fixed;
    right: -350px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    display: none;
}

.navHidden {
    display: none !important;
}

.closeNavBtn {
    height: 55px;
    width: 55px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 20px;
}

.mobileNavBg {
    display: none;
    width: 350px;
    height: 100vh;
    background: #F8F8F8;
    position: absolute;
    z-index: 1;
}

.mobileNavOverlay {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 0;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    opacity: 0;
}

.mobileNavOverlay.overlayShow {
    opacity: 0.4;
    visibility: visible;
}

.mobileCollapse {
    color: #626262;
    font-size: 20px;
    font-weight: 500;    
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    width: 76%;
    margin: 0 12% 0 12%;
    padding: 10px 0;
    text-align: left;
    border-bottom: 1px solid #626262;
}

.subMenuCollapse { 
    padding-bottom: 15px !important;
}

.mobileCollapseActive {
    color: #3A722E;
    border-bottom: 1px solid transparent;
}

.navWrapper {
    max-width: 1280px;
    margin: auto;
    height: 100%;
}

.navImg {
    width: 140px;
    margin-bottom: -13px;
}


/* Search bar styles */

.searchDiv {
    position: fixed;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: flex-end;
    top: 25px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

#search {
    position: relative;
    left: 35px;
    width: 100%;
    max-width: 350px;
    border-radius: 0.2rem;
    border: 2px solid lightgray;
    color: #626262;
    padding: 1px 11px;
    z-index: 0;
}

.languageDropDown {
    width: 100px;
    position: absolute;
    display: flex;
    padding: 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.161);
    flex-direction: column;
    background-color: white;
    z-index: 1;
    top: 30px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
}

.languageDropDown.languageDropDownOpen {
    visibility: visible;
    width: 220px;
    padding: 13px 2px;
    max-height: 500px;
}

.languageBtn, .searchOpenBtn {
    background-color: transparent;
    color: #626262;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.languageBtn {
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    min-width: 60px;
    margin-left: 20px;
}

.languageOptionBtn {
    display: flex;
    border: none;
    margin: 0;
    text-decoration: none;
    text-align: left;
    background: transparent;
    color: #626262;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.languageOptionBtn:first-of-type {
    margin-bottom: 10px;
}

.searchOpenBtn {
    position: relative;
    top: 3px;
    right: 5px;
    overflow: visible;
}

/* Remove default outline on focus */
.languageBtn:focus, .languageOptionBtn:focus, .searchOpenBtn:focus, .hamburgBtn:focus, .closeNavBtn:focus, .link:focus, .mobileCollapse:focus, .sublink:focus, .bookmarkLink:focus {
    outline: none;
}

@media only screen and (max-width: 1050px) {
    .navImg {
        margin-bottom: 0;
    }
    
    .link {
        font-size: 20px;
        z-index: 2;
        width: 76%;
        margin: 0 12% 0 12%;
        padding: 10px 0;
        text-align: left;
        border-bottom: 1px solid #626262;
    }
    .link:first-of-type {
        margin-top: 65px;
    }
    .link:last-of-type:not(.mobileCollapse) {
        border-bottom: none;
    }
    .linkActive, .link:hover, .mobileCollapse:hover, .sublink:hover {
        color: #3A722E;
    }

    .sublink {
        display: block;
        font-size: 18px;
        color: #626262;
        font-weight: 500;    
        font-family: inherit;
        text-decoration: none;
        text-align: left;
        width: 100%;
        background-color: #eeeeee;
        border: none;
        padding: 5px 12%;
        margin: 0;
    }

    .navWrapper {
        padding: 0 30px;
    }
    .hamburgBtn, .mobileNavBg, .mobileNavOverlay, .mobileCollapse {
        display: block;
    }
    .sublink:hover, .collapseActive {
        border: none;
    }

    .searchDiv {
        top: 45px;
    }

    .languageBtn {
        margin-right: 140px;
    }
    .languageOptionDiv { 
        right: 120px;
    }
}

@media only screen and (max-width: 768px) {
    .navContainer {
        height: 75px;
    }
    .extraNavOptionContainer {
        top: 75px;
    }
    .col-2 {
        width: 100%;
    }
    .languageBtn {
        margin-right: 120px;
    }
    #search {
        margin-left: 140px;
    }
    .searchDiv {
        top: 24px;
    }
}

@media only screen and (max-width: 599px) {
    #search {
        position: fixed;
        top: 60px;
        left: 0;
        margin-left: 0;
        max-width: 100%;
    }
    .languageBtn {
        margin-left: 0;
    }
}

@media only screen and (max-width: 524px) {
    .extraNavOptionContainer {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .navWrapper {
        padding: 0 10px;
    }
    .languageBtn {
        margin-right: 65px;
    }
    .languageOptionDiv { 
        right: 60px;
    }
    .navImg {
        width: 90px;
    }
    .hamburgBtn {
        margin-top: 5px;
    }
}

/* Animation Styles */
.navSlideIn {
    animation-name: slide-in;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
}

.navSlideOut {
    animation-name: slide-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
}

@keyframes slide-in {
    0% {
        right: -350px;
    }
    100% {
        right: 0px;
    }
}

@keyframes slide-out {
    0% {
        right: 0px;
    }
    100% {
        right: -350px;
    }
}